{% extends 'base.html' %}

{% block content %}
    <h1>{{blog.title}}</h1><br>

    <div class="card text-center">
        <div class="card-body">
            <h5 class="card-title">Writer: {{blog.writer}}</h5>
            <p class="card-text">{{blog.body}}</p>
            <a href="{% url 'edit' blog.id %}" class="btn btn-outline-success">EDIT</a>
            <a href="{% url 'delete' blog.id %}" class="btn btn-outline-danger">DELETE</a>
        </div>
        <div class="card-footer text-muted">
            {{blog.pub_date}}
        </div>
    </div>
{% endblock %}