<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT</title>
</head>
<body>
    <h1>UPDATE YOUR BLOG</h1>

    <form action="{% url 'update' blog.id %}" method="POST">
        {% csrf_token %}
        <p>TITLE: <input type="text" name="title" value="{{blog.title}}"></p>
        <p>WRITER: <input type="text" name="writer" value="{{blog.writer}}"></p>
        CONTENT: <textarea name="body" id="" cols="30" rows="10">{{blog.body}}</textarea>
        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>