{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
    {{user.username}}님 환영합니다!
    {% endif %}

    <br><h1>NEW</h1><br>

    <div class="container">
        {% for blog in blogs %}

        <div class="card text-center">
            <div class="card-header">
                Writer: {{blog.writer}}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{blog.title}}</h5>
                <p class="card-text">{{blog.summery}}</p>
                <a href="{% url 'detail' blog.id %}">...more</a>
            </div>
          </div><br>
        {% endfor %}
    </div>
{% endblock %}