{% extends 'base.html' %}

<head>
    {% load static %}
    {% block extrahead %}
    <link rel="stylesheet" href="{% static 'detail.css' %}">
    {% endblock %}
</head>

{% block content %}
    <h1 class="title">원하는 게시글을 작성해주세요</h1><br>

    <form action="{% url 'create' %}" method="POST" enctype="multipart/form-data" style="color: white;">
        {% csrf_token %}

        {{form.as_p}}

        <!-- <p>TITLE: <input type="text" name="title"></p>
        <p>WRITER: <input type="text" name="writer"></p>
        <p>IMAGE: <input type="file" name="image"></p>
        CONTENT: <textarea name="body" id="" cols="30" rows="10"></textarea> -->
        <button type="submit" class="btn btn-dark" id="btn-orange">작성하기</button>
    </form>
{% endblock %}